/* assets/css/extended/custom.css */

/* --- Layout für EINZELSEITEN (Bild zentriert, 50% breit) --- */
/* assets/css/extended/custom.css */

/* --- Layout für EINZELSEITEN (Bild links, Text rechts) --- */

/* Der Hauptcontainer einer einzelnen Rezeptseite wird zum Grid */
.post-single {
  display: grid;
  grid-template-columns: 200px 1fr; 
  /* Abstand zwischen den Spalten */
  /*
  /* Vertikal am Anfang ausrichten */
  align-items: start;
  /* Standard-Abstand unten für jeden Eintrag */
  margin-bottom: 0px; 
  grid-template-rows: auto auto auto; /* 3 Zeilen */
  gap: 20px; /* optionaler Abstand */
  align-items: start;
}

/* Obere Zeile: Cover links, Header rechts */
.entry-cover {
  grid-column: 1;
  grid-row: 1;
}

.post-header {
  margin-top: 0px;
  margin-bottom: 0px;
  grid-column: 2;
  grid-row: 1;
}

/* Mittlere und untere Zeile: Content + Footer über beide Spalten */
.post-content {
  grid-column: 1 / 3; /* beide Spalten */
  grid-row: 2;
}

.post-footer {
  margin-top: 0px;
  grid-column: 1 / 3; /* beide Spalten */
  grid-row: 3;
}

/* --- Layout für ALLE LISTENSEITEN --- */

/* Der Hauptcontainer für einen Eintrag */
.post-entry {
  display: grid;
  grid-template-columns: 180px 1fr; 
  /* Vertikal am Anfang ausrichten */
  align-items: start;
  /* Standard-Abstand unten für jeden Eintrag */
  margin-bottom: 12px; 
  grid-template-rows: auto auto auto; /* 3 Zeilen */
  /* Abstand zwischen den Spalten */
  gap: 20px; /* optionaler Abstand */
  align-items: start;
}

.entry-cover {
  grid-row: 1 / 4;  /* geht über 3 Zeilen */
  grid-column: 1;
}

.entry-header {
  grid-row: 1;
  grid-column: 2;
}

.entry-content {
  grid-row: 2;
  grid-column: 2;
}

.entry-footer {
  grid-row: 3;
  grid-column: 2;
}

/* --- Layout für ALLE TAGSEITEN (Bild links, Text rechts) --- */
.post-entry.tag-entry .entry-cover {
  display: block;
  grid-column: 1;
  grid-row: 1 / 4;
  width: 100%;
}

.post-entry.tag-entry .entry-cover img {
  display: block;
  width: 100%;
  height: auto;
}
